image: node:18

pages:
  stage: deploy
  script:
    - npm install
    - npm run build
    - rm -rf public
    - mkdir -p public
    - cp -r dist/* public/
  artifacts:
    paths:
      - public
  only:
    - main
