image: node:18

pages:
  stage: deploy
  script:
    - npm install
    - npm run build
    - mkdir public
    - cp -r dist/* public
  artifacts:
    paths:
      - public
  only:
    - main
